- Order::STEPS.each_with_index do |step, index|
  %li.step{class: "#{'active' if index.next <= current_order.status_before_type_cast}"}
    %span.step-number
      = index.next
    %span.hidden-xs
      = link_to public_send("checkout_#{step}_path"), class: 'step_checkout step-text' do
        = t(step, scope: [:checkout, :checkout_step])
  %li{class: "#{'step-divider' if index.next < current_order.status_before_type_cast}"}
