%main.container.general-main-wrap
  = devise_error_messages!
  .text-center
    %h3.general-login-title
      = t('devise.sign_up')
    .general-login-icon
    %p.general-login-text
      = t('.or')
  .general-form
    = simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
      .form-group.mb-30
        %label.control-label.input-label{for: "user_email"}
          = t('devise.email')
        = f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control", placeholder: "Email"
      .form-group.mb-30
        - if @minimum_password_length
          %label.control-label.input-label{for: "user_password"}
            = t('devise.min_pass_length')
            = @minimum_password_length
          = f.password_field :password, autocomplete: "new-password", class: "form-control", placeholder: "Password", pattern: "^(?=.*\\d)(?=.*[a-z])(?=.*[A-Z])(?!.*\\s).{8,}$"
      .form-group.mb-30
        %label.control-label.input-label{for: "user_password_confirmation"}
          = t('devise.confirm')
        = f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control", placeholder: "Confirm Password", pattern: "^(?=.*\\d)(?=.*[a-z])(?=.*[A-Z])(?!.*\\s).{8,}$"
      .text-center
        = f.submit t('devise.sign_up'), class: "btn btn-default mb-20"
  %p.general-sign-text.text-center
    = t('questions.account')
    = link_to t('devise.login'), new_session_path(resource_name), class: "in-gold-500"
