%main.container.mb-res-50
  %h1.general-title-margin
    = t('checkout.title')
  %ul.steps.list-inline
    = render 'checkout_steps'
  %h3.general-subtitle
    = t('checkout.payment.title')
  = simple_form_for(@payment, url: wizard_path, validate: true, defaults: { input_html: { class: "form-control" }}, html: { method: :patch }) do |f|
    .max-600.mb-80
      = f.input :number, input_html: {value: "#{@presenter.payment(:number)}", maxlength: 16}, placeholder: t('checkout.payment.placeholder.cart_number')
      .row.mt-30
        .col-sm-6
          = f.input :name, placeholder: t('checkout.payment.placeholder.name_on_card'), input_html: { value: "#{@presenter.payment(:name)}" }
        .col-sm-3
          = f.input :date, input_html: {value: "#{@presenter.payment(:date)}", maxlength: 5}, placeholder: t('checkout.payment.placeholder.date')
        .col-sm-3
          = f.input :cvv, input_html: {type: 'password', value: "#{@presenter.payment(:cvv)}", maxlength: 4}, placeholder: t('checkout.payment.placeholder.cvv')
          .hint_cvv
            %i.fa.fa-question-circle.general-form-help
            %span
              = t('checkout.payment.hint')
    .general-text-right
      = render 'order_summary', order: @presenter.order
    .text-center
      = f.submit t('button.save_and_continue'), class: "btn btn-default mb-80"
