%main.container.general-main-wrap
  .text-center.mb-25
    %h2
      = t('.password_edit')
  .general-form.field
    = simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f|
      = devise_error_messages!
      = f.hidden_field :reset_password_token
      .form-group.mb-30
        %label.control-label.input-label{for: "new_password"}
          = t('.password_edit.new_password')
        = f.password_field :password, autofocus: true, autocomplete: "new_password", class: 'form-control', id: 'new_password'
      .form-group.mb-30
        %label.control-label.input-label{for: "password_confirmation"}
          = t('.password_edit.confirm_new_password')
        = f.password_field :password_confirmation, autocomplete: "off", class: 'form-control', id: 'password_confirmation'
      .text-center
        .actions
          = f.submit t('devise.change_password'), class: 'btn btn-default mb-20'
        = link_to t('.go_back'), root_path, class: "in-gold-500"
