%main.container.general-main-wrap
  .text-center.mb-25
    %h1
      = t('devise.forgot_password')
    %p.font-18
      = t('devise.reset_message')
  .general-form.field
    = simple_form_for(resource, as: resource_name, defaults: { input_html: { class: "form-control" }}, url: password_path(resource_name), html: { method: :post }) do |f|
      .form-group.mb-30
        = f.input :email, autofocus: true, placeholder: t('devise.set_password')
      .text-center
        .actions
          = f.submit t('devise.instructions'), class: 'btn btn-default mb-20'
        = link_to t('sign.cancel'), root_path, class: "in-gold-500"
