.col-md-12
  %h3= t('comment.write_a_review')
  %p.general-info-text= t('comment.score')
  = simple_form_for(:comment, url: book_comments_path(book), html: { method: :post}, defaults: { input_html: { class: "form-control" }}) do |f|
    .mb-15.rating
      = f.collection_radio_buttons :mark, [[5], [4], [3], [2], [1]], :first, :last, item_wrapper_tag: false, boolean_style: :inline do |b|
        = b.radio_button + b.label {''}
    .row
      .col-md-8
        .mb-40
          = f.input :title, placeholder: t('comment.enter_title')

          = f.input :description, as: :text, placeholder: t('comment.enter_description')

          = f.input :user_id, :as => :hidden, :input_html => { :value => current_user.id }

          = f.input :book_id, :as => :hidden, :input_html => { :value => book.id }

        .text-right
          = f.submit t('btn.post'), class: 'btn btn-default mb-20'
