%main.container.general-main-wrap
  %h1.general-title-margin
    = t('checkout.title')
  %ul.steps.list-inline
    = render 'checkout/partials/checkout_steps', current_order: @order
  .text-center.mb-40
    %h3.general-subtitle
      = t('checkout.complete.thank_you_for_your_order')
    %p.fw-300
      = t('checkout.complete.send_email', email: current_user.email)
  .row.mb-20
    .col-sm-6
      .visible-xs
        %p.general-order-number.mb-0
          = t('checkout.complete.order_number', number: @order.number)
        %p.general-address.mb-30
          = "#{@order.created_at}"
      = render 'shared/addresses/address', address: @order.shipping_address
    .col-sm-6.hidden-xs.text-right
      %p.general-order-number.mb-0
        = t('checkout.complete.order_number', number: @order.number)
      %p.general-address.mb-30
        = "#{@order.created_at}"
  .visible-xs
    -# = render 'checkout/shared/mobile/order_items', order_items: @order.order_items
  .hidden-xs.divider-lg.pt-20
    = render 'shared/order_items/order_items', order_items: @order.order_items.decorate
  .text-center.general-text-left
    = render 'checkout/partials/order_summary', order: @order
  .text-center
    = link_to t('checkout.complete.back_to_store'), root_path, class: 'btn btn-default mb-20'
