.col-sm-5.col-sm-offset-1
  %p.in-gold-500.font-18.mb-25
    = t('settings.password')
  = simple_form_for(current_user, url: user_registration_path, validate: true, html: {class: 'divider-lg-bottom'}, defaults: { input_html: { class: "form-control" }},  method: :patch) do |f|

    = f.input :current_password, label: t('settings.old_password'), placeholder: t('settings.old_password')

    = f.input :password, label: t('settings.new_password'), placeholder: t('settings.new_password')

    = f.input :password_confirmation, label: t('settings.confirm_password'), placeholder: t('settings.confirm_password')

    = f.submit t('btn.save'), class: 'btn btn-default mb-35 password-btn'
