!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}
    %meta{name: "viewport", content: "width=device-width"}
    %title
      = t('word.bookstore')
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    .container
    - if notice
      .alert.alert-info.text-center
        - if notice.is_a?(Array)
          - notice.each do |message|
            %p
              = message
        - else
          = notice
    - if alert
      .alert.alert-warning.text-center
        - if alert.is_a?(Array)
          - alert.each do |message|
            %p
              = message
        - else
          = alert
    = render partial: 'layouts/partials/header', locals: { categories: @loaded_categories }
    = yield
    = render 'layouts/partials/footer'
